<app-breadcrumb [title]="'Agregar Usuario'"></app-breadcrumb>
<div class="flex flex-col flex-auto" *ngIf="loading">
    <h6 class="text-center">Procesando...</h6>
    <div class="loader-box">
      <div class="loader-3"></div>
    </div>
</div>
<div class="container-fluid" *ngIf="!loading">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form class="needs-validation" novalidate [formGroup]="formAdd">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>Nombre</label>
                                <input class="form-control btn-pill" required="true" type="text" placeholder="(*) Nombre" formControlName="name">
                                <div *ngIf="formAdd.controls.name.errors && formAdd.controls.name.touched && formAdd.controls.name.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formAdd.controls.name.touched && formAdd.controls.name.errors?.minlength"
                                    class="text text-danger mt-1">
                                    Debe tener minimo de 3 caracteres
                                </div>
                                <div *ngIf="formAdd.controls.name.touched && formAdd.controls.name.errors?.maxlength"
                                    class="text text-danger mt-1">
                                    Debe tener un maximo de 40 caracteres
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Apellido Paterno</label>
                                <input class="form-control btn-pill" required="true" type="text" placeholder="(*) Apellido Paterno" formControlName="lastName">
                                <div *ngIf="formAdd.controls.lastName.errors && formAdd.controls.lastName.touched && formAdd.controls.lastName.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formAdd.controls.lastName.touched && formAdd.controls.lastName.errors?.minlength"
                                    class="text text-danger mt-1">
                                    Debe tener minimo de 3 caracteres
                                </div>
                                <div *ngIf="formAdd.controls.lastName.touched && formAdd.controls.lastName.errors?.maxlength"
                                    class="text text-danger mt-1">
                                    Debe tener un maximo de 40 caracteres
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Apellido Materno</label>
                                <input class="form-control btn-pill" required="true" type="text" placeholder="(*) Apellido Materno" formControlName="secondLastName">
                                <div *ngIf="formAdd.controls.secondLastName.errors && formAdd.controls.secondLastName.touched && formAdd.controls.secondLastName.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formAdd.controls.secondLastName.touched && formAdd.controls.secondLastName.errors?.minlength"
                                    class="text text-danger mt-1">
                                    Debe tener minimo de 3 caracteres
                                </div>
                                <div *ngIf="formAdd.controls.secondLastName.touched && formAdd.controls.secondLastName.errors?.maxlength"
                                    class="text text-danger mt-1">
                                    Debe tener un maximo de 40 caracteres
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>Rut</label>
                                <input class="form-control" required="true" type="text" placeholder="(*) Rut" formControlName="rut" (blur)="onBlurRut()" (focus)="onFocusRut()">
                                <div *ngIf="formAdd.controls.rut.errors && formAdd.controls.rut.touched && formAdd.controls.rut.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formAdd.controls.rut.errors && formAdd.controls.rut.touched && formAdd.controls.rut.errors?.rut"
                                    class="text text-danger mt-1">
                                    Formato invalido
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Email</label>
                                <input class="form-control" required="true" type="text" placeholder="(*) Email" formControlName="email" required email>
                                <div *ngIf="formAdd.controls.email.errors && formAdd.controls.email.touched && formAdd.controls.email.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formAdd.controls.email.errors && formAdd.controls.email.touched && formAdd.controls.email.errors?.email"
                                    class="text text-danger mt-1">
                                    Formato invalido
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Celular</label>
                                <input class="form-control" required="true" type="text" placeholder="(*) Celular" formControlName="phone">
                                <div *ngIf="formAdd.controls.phone.errors && formAdd.controls.phone.touched && formAdd.controls.phone.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formAdd.controls.phone.errors && formAdd.controls.phone.touched && formAdd.controls.phone.errors?.invalidMobileNumber"
                                    class="text text-danger mt-1">
                                    Formato invalido, ejemplo: 912341234
                                </div>
                                <div *ngIf="formAdd.controls.phone.errors && formAdd.controls.phone.touched && formAdd.controls.phone.errors?.invalidNumber"
                                    class="text text-danger mt-1">
                                    Solo se admiten números
                                </div>
                            </div>
                        </div>-->
                        <div class="form-row">
                            <!--<div class="col-md-6 mb-3">
                                <label>País</label>
                                <ng-select [items]="countriesFilter" placeholder="Seleccionar País"
                                    class="js-example-placeholder-multiple" formControlName="nationality">
                                </ng-select>
                            </div>-->
                            <div class="col-md-6 mb-3">
                                <label>Email</label>
                                <input class="form-control btn-pill" required="true" type="text" placeholder="(*) Email" formControlName="email" required email>
                                <div *ngIf="formAdd.controls.email.errors && formAdd.controls.email.touched && formAdd.controls.email.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formAdd.controls.email.errors && formAdd.controls.email.touched && formAdd.controls.email.errors?.email"
                                    class="text text-danger mt-1">
                                    Formato invalido
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Perfil</label>
                                <ng-select 
                                    [items]="rolesFilter" 
                                    placeholder="(*) Seleccionar Perfil"
                                    class="js-example-placeholder-multiple btn-pill" 
                                    formControlName="role">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="col-form-label">Contraseña</label>
                                <input class="form-control btn-pill" [type]="show ? 'text' : 'password'" formControlName="password" required="" placeholder="(*) Contraseña">
                                <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                                <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
                                <div *ngIf="formAdd.controls.password.touched && formAdd.controls.password.errors?.required"
                                        class="text text-danger mt-1">
                                        Es requerida
                                </div>
                                <div *ngIf="formAdd.controls.password.touched && formAdd.controls.password.errors?.minlength"
                                    class="text text-danger mt-1">
                                    Debe tener minimo de 4 caracteres
                                </div>
                                <div *ngIf="formAdd.controls.password.touched && formAdd.controls.password.errors?.maxlength"
                                    class="text text-danger mt-1">
                                    Debe tener un maximo de 12 caracteres
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="col-form-label">Confirmar Contraseña</label>
                                <input class="form-control btn-pill" [type]="show ? 'text' : 'password'" formControlName="confirmPassword" required="" placeholder="(*) Confirmar contraseña">
                                <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                                <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
                                <div *ngIf="formAdd.controls.confirmPassword.touched && formAdd.controls.confirmPassword.errors?.required || formAdd.controls.confirmPassword.value != formAdd.controls.password.value"
                                        class="text text-danger mt-1">
                                        Confirmar Contraseña es requerido y debe ser igual a Contraseña
                                </div>
                                <div *ngIf="formAdd.controls.confirmPassword.touched && formAdd.controls.confirmPassword.errors?.minlength"
                                    class="text text-danger mt-1">
                                    Debe tener minimo de 4 caracteres
                                </div>
                                <div *ngIf="formAdd.controls.confirmPassword.touched && formAdd.controls.confirmPassword.errors?.maxlength"
                                    class="text text-danger mt-1">
                                    Debe tener un maximo de 12 caracteres
                                </div>
                            </div>
                        </div>
                        <div class="flex align-middle font-medium text-md mt-1 mb-3">
                            <i class="flex align-middle" data-feather="info"></i>
                            <span class="font-semibold ml-1 text-base">Los campos marcados con (*) son de caracter obligatorio.</span>
                          </div>
                          <div class="card-footer">
                            <button class="btn btn-primary btn-pill" type="button" [disabled]="formAdd.invalid" (click)="add()">Agregar</button>
                            <button class="btn btn-info ml-1 btn-pill" type="button" (click)="goBack()">Volver</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>