<app-breadcrumb [title]="'Mis compras'" [active_item]="'Mis compras'"></app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="flex flex-col flex-auto" *ngIf="loading">
          <h6 class="text-center">Procesando...</h6>
          <div class="loader-box">
            <div class="loader-3"></div>
          </div>
        </div>
        <div class="col-sm-12" *ngIf="!loading">
            <div class="card" *ngIf="!filterHidden">
              <div class="card-body">
                  <form [formGroup]="filterForm" class="needs-validation">
                      <div class="form-row">
                          <div class="col-md-6 mb-3">
                              <div class="form-group">
                                  <label>Estado</label>
                                  <select formControlName="status" class="form-control btn-pill">
                                      <option class="mat-select-placeholder" value="">Todos los Estados</option>
                                      <option value="45">Procesando</option>
                                      <option value="6">En preparación</option>
                                      <option value="7">Confirmar entrega</option>
                                      <option value="8">Producto entregado</option>
                                      <!--<option value="3">Pagado</option>-->
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6 mb-3">
                              <div class="form-group">
                                  <label>Periodo</label>
                                  <select formControlName="date" class="form-control btn-pill">
                                      <option class="flex-grow-1" *ngFor="let period of this.periods" value="{{period}}" >{{period}}</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </form>
                  <div class="col">
                      <button class="btn btn-pill btn-primary" type="button" (click)="changeFilter()" >Buscar</button>
                  </div>
              </div>
            </div>
            <div class="col-md-4 mb-3" *ngIf="listView">
              <button class="btn btn-pill btn-info" (click)="this.showFilter()" type="button" >{{this.filterButton}}</button>
            </div>
            <div class="card">
                <div class="card-body" >
                    <div *ngIf="!orderOffer || orderOffer.length <= 0">No tiene ninguna compra hasta el momento</div>
                    <div *ngIf="orderOffer && orderOffer.length > 0">
                        <table id="table-ventas" class="table table-hover table-responsive table-border-horizonta">
                            <thead>
                              <tr>
                                <th scope="col">Auto</th>
                                <th scope="col">Repuesto</th>
                                <th scope="col">Publicación</th>
                                <th scope="col">Pago</th>
                                <th scope="col">Precio Unitario</th>
                                <th class="text-center" scope="col">Cantidad</th>
                                <th scope="col">Precio Total</th>
                                <th scope="col">Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr (click)="this.onCellClick(offer)" *ngFor="let offer of orderOffer; index as i"  >
                                <td>{{offer.order.brand}} {{offer.order.model}} {{offer.order.year}}</td>
                                <td>{{offer.product.title}}</td>
                                <td>{{offer.order.createdAt | date:'dd-MM-yyyy HH:mm'}}</td>
                                <td>{{offer.confirmedAtClaimant | date:'dd-MM-yyyy HH:mm'}}</td>
                                <td>${{(offer.price + offer.price / 10) | number:'1.0-0'}}</td>
                                <td class="text-center">{{offer.qtyOfferAccepted | number:'1.0-0'}}</td>
                                <td>${{(offer.price + offer.price / 10) * offer.qtyOfferAccepted | number:'1.0-0'}}</td>
                                <td>
                                    <button class="btn btn-pill btn-info btn-xs" *ngIf="offer.status == 4 || offer.status == 5">Procesando</button>
                                    <button class="btn btn-pill btn-warning btn-xs" *ngIf="offer.status == 6">En preparación</button>
                                    <button class="btn btn-pill btn-primary btn-xs" *ngIf="offer.status == 7">Confirmar entrega</button>
                                    <button class="btn btn-pill btn-success btn-xs" *ngIf="offer.status == 8">Producto entregado</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
            <ngb-pagination 
              *ngIf="!listView"
              class="d-flex justify-content-center mb-3" 
              [collectionSize]="totalElements" 
              [pageSize]="50"
              [boundaryLinks]="true"
              [(page)]="currentPage"
              [maxSize]="5" 
              [rotate]="true" 
              (pageChange)="onPageFired($event)"
              aria-label="Default pagination">
            </ngb-pagination>
            <ngb-pagination 
              *ngIf="listView"
              class="d-flex justify-content-center mb-3" 
              [collectionSize]="totalElements" 
              [pageSize]="50"
              [boundaryLinks]="true"
              [(page)]="currentPage"
              [maxSize]="3" 
              [rotate]="true" 
              (pageChange)="onPageFired($event)"
              aria-label="Default pagination">
          </ngb-pagination>
        </div>
    </div>
</div>
<app-purchases-view #quickViewParchasesView></app-purchases-view>