<app-breadcrumb [title]="'Agregar Repuesto'"></app-breadcrumb>
<div class="flex flex-col flex-auto" *ngIf="loading">
  <div class="showLoading">
      <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'">
      </mat-progress-spinner>
      <div class="mt-2 font-medium">Procesando...</div>
  </div>
</div>
<div class="col-sm-12" *ngIf="!loading">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="productsAddFormGroup">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label>Marca</label>
                        <ng-select [items]="brandFilter" placeholder="(*) Marca"
                            class="js-example-placeholder-multiple" formControlName="brand">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label>Modelo</label>
                        <input class="form-control" type="text" placeholder="Modelo" formControlName="model">
                        <div *ngIf="productsAddFormGroup.controls.model.touched && productsAddFormGroup.controls.model.errors?.minlength"
                        class="text text-danger mt-1">
                          Debe tener minimo de 3 caracteres
                        </div>
                        <div *ngIf="productsAddFormGroup.controls.model.touched && productsAddFormGroup.controls.model.errors?.maxlength"
                        class="text text-danger mt-1">
                          Debe tener un maximo de 40 caracteres
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-row">
                  <div class="col mb-3">
                    <div class="form-group">
                      <label>Descripción</label>
                      <input class="form-control" type="text" placeholder="Descripción" formControlName="description">
                      <div *ngIf="productsAddFormGroup.controls.description.touched && productsAddFormGroup.controls.description.errors?.minlength"
                        class="text text-danger mt-1">
                          Debe tener minimo de 3 caracteres
                        </div>
                      <div *ngIf="productsAddFormGroup.controls.description.touched && productsAddFormGroup.controls.description.errors?.maxlength"
                        class="text text-danger mt-1">
                          Debe tener un maximo de 40 caracteres
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col mb-3">
                    <div class="form-group">
                      <label>Chasis/VIN</label>
                      <input class="form-control" type="text" placeholder="(*) Chasis/VIN" formControlName="chassis">
                      <div *ngIf="productsAddFormGroup.controls.chassis.errors && productsAddFormGroup.controls.chassis.touched && productsAddFormGroup.controls.chassis.errors.required"
                          class="text text-danger mt-1">
                          Es requerido
                      </div>
                      <div *ngIf="productsAddFormGroup.controls.chassis.touched && productsAddFormGroup.controls.chassis.errors?.minlength"
                        class="text text-danger mt-1">
                          Debe tener minimo de 3 caracteres
                        </div>
                      <div *ngIf="productsAddFormGroup.controls.chassis.touched && productsAddFormGroup.controls.chassis.errors?.maxlength"
                        class="text text-danger mt-1">
                          Debe tener un maximo de 40 caracteres
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col mb-3">
                    <fieldset>
                      <label>Cantidad:</label>
                      <div class="input-group bootstrap-touchspin">
                        <button class="btn btn-primary btn-square bootstrap-touchspin-down" type="button" (click)=decrement()>
                          <i class="fa fa-minus"></i>
                        </button>
                        <input class="touchspin form-control" type="text" value={{counter}}>
                        <div class="input-group-append ml-0">
                          <button class="btn btn-primary btn-square bootstrap-touchspin-up" type="button" (click)=increment()>
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              <div class="flex align-middle font-medium text-md mt-1 mb-3">
                  <i class="flex align-middle" data-feather="info"></i>
                  <span class="font-semibold ml-1 text-base">Los campos marcados con (*) son de caracter obligatorio.</span>
              </div>
              <div class="mt-1">
                  <button class="btn btn-pill btn-primary m-r-15" type="button" [disabled]="productsAddFormGroup.invalid" (click)="add()">Guardar</button>
                  <button class="btn btn-pill btn-info" type="button" (click)="goBack()">Volver</button>
              </div>
            </form>
        </div>
    </div>
</div>