<app-breadcrumb [title]="'Mi perfil'"></app-breadcrumb>
<div class="flex flex-col flex-auto" *ngIf="loading">
    <h6 class="text-center">Procesando...</h6>
    <div class="loader-box">
      <div class="loader-3"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5 class="pull-left">Usuario</h5>
        </div>
        <div class="card-body" *ngIf="!loading">
            <ngb-tabset type="pills" class="tabbed-card">
                <ngb-tab>
                    <ng-template ngbTabTitle class="pull-right nav nav-pills nav-primary"><i
                            class="icofont icofont-man-in-glasses"></i>Mi Cuenta</ng-template>
                    <ng-template ngbTabContent class="tab-content">
                        <div class="tab-pane fade show">
                            <div class= "card-body">
                                <div class="row">
                                    <div class="col col-md-4"><label class="col-form-label">Nombre Completo</label> <div class="btn btn-light" style="min-width: 100%;"><span class="pull-left"><i class="icofont icofont-user"></i></span>{{this.user.name}}{{this.user.lastName}}{{this.user.secondLastname}}</div></div>
                                    <div class="col col-md-4"><label class="col-form-label">Email</label> <div class="btn btn-light"style="min-width: 100%;" ><span class="pull-left"><i class="icofont icofont-email"></i></span> {{this.user.email}} </div></div>
                                    <div class="col col-md-4"><label class="col-form-label">Rol</label> <div class="btn btn-light"style="min-width: 100%;" ><span class="pull-left"><i class="icofont icofont-hat"></i></span>{{this.user.role}}</div></div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>

