<app-breadcrumb [title]="'Mi perfil'"></app-breadcrumb>
<div class="flex flex-col flex-auto" *ngIf="loading">
    <h6 class="text-center">Procesando...</h6>
    <div class="loader-box">
      <div class="loader-3"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5 class="pull-left">Usuario</h5>
        </div>
        <div class="card-body">
            <ngb-tabset type="pills" class="tabbed-card">
                <ngb-tab>
                    <ng-template ngbTabTitle class="pull-right nav nav-pills nav-primary"><i
                            class="icofont icofont-man-in-glasses"></i>Mi Cuenta</ng-template>
                    <ng-template ngbTabContent class="tab-content">
                        <div class="tab-pane fade show">
                            <div class= "card-body">
                                <div class="row">
                                    <div class="col col-md-4"><label class="col-form-label">Nombre Completo</label> <div class="btn btn-light" style="min-width: 100%;"><span class="pull-left"><i class="icofont icofont-user"></i></span>{{this.user.name}}{{this.user.lastName}}{{this.user.secondLastname}}</div></div>
                                    <div class="col col-md-4"><label class="col-form-label">Email</label> <div class="btn btn-light"style="min-width: 100%;" ><span class="pull-left"><i class="icofont icofont-email"></i></span> {{this.user.email}} </div></div>
                                    <div class="col col-md-4"><label class="col-form-label">Rol</label> <div class="btn btn-light"style="min-width: 100%;" ><span class="pull-left"><i class="icofont icofont-hat"></i></span>{{this.user.role}}</div></div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template *ngIf="this.user.companies.length > 0" ngbTabTitle class="pull-right nav nav-pills nav-primary"><i
                            class="icofont icofont-contacts"></i>Mis Negocios</ng-template>
                    <ng-template  ngbTabContent class="tab-content">
                        <div class="tab-pane fade show">
                            <div *ngFor="let company of user.companies" class= "card-body ">
                                <div class="border mb-4"></div>
                                <div class="row">
                                    <div class="mb-2 col-md-4"><label class="col-form-label">Nombre Empresa</label> <button class="btn btn-light "style="min-width: 100%;" type="button"><span class="pull-left"><i class="icon-user"></i></span>{{company.name}}</button></div>
                                    <div class="mb-2 col-md-4"><label class="col-form-label">Telefono</label> <button class="btn btn-light"style="min-width: 100%;" type="button"><span class="pull-left"><i class="icon-mobile"></i></span>{{company.phone}}</button></div>
                                    <div class="mb-2 col-md-4"><label class="col-form-label">Direccion</label> <button class="btn btn-light"style="min-width: 100%;" type="button"><span class="pull-left"><i class="icon-direction"></i></span>{{company.direction}}</button></div>
                                </div>
                                <div class="row">
                                    <div class="mb-2 col-md-4"><label class="col-form-label">Rut</label> <button class="btn btn-light"style="min-width: 100%;" type="button"><span class="pull-left"><i class="icofont icofont-mail"></i></span>{{company.rut}}</button></div>
                                </div>
                                <div class="row">
                                    <div class="mb-2 col-md-4"><label class="col-form-label">Banco</label> <button class="btn btn-light"style="min-width: 100%;" type="button"><span class="pull-left"><i class="icon-home"></i></span>{{company.bank}}</button></div>
                                    <div class="mb-2 col-md-4"><label class="col-form-label">Tipo de Cuenta</label> <button class="btn btn-light"style="min-width: 100%;" type="button"><span class="pull-left"><i class="icon-credit-card"></i></span>{{company.accountType}}</button></div>
                                    <div class="mb-2 col-md-4"><label class="col-form-label">Numero de Cuenta</label> <button class="btn btn-light"style="min-width: 100%;" type="button"><span class="pull-left"><i class="icon-credit-card"></i></span>{{company.accountNumber}}</button></div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>

