<app-breadcrumb [title]="'Agregar Pedidos'"></app-breadcrumb>
<div class="flex flex-col flex-auto" *ngIf="loading">
  <h6 class="text-center">Procesando...</h6>
  <div class="loader-box">
    <div class="loader-3"></div>
  </div>
</div>
<div class="container-fluid" *ngIf="!loading">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form [formGroup]="formOrder">
        <div class="card-header">
          <h5>Datos auto</h5>
        </div>
        <div class="card-body">
        
          <!--company-->
          <div class="card-block row">
              <div class="col-sm-12 col-lg-12 col-xl-12">
                <!--<div class="mb-3">
                  <h5>Datos de auto</h5>
                </div>--->
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label>Marca</label>
                      <ng-select [items]="makesFilter" placeholder="(*) Marca"
                          class="js-example-placeholder-multiple" formControlName="brand" (change)="this.onChangeMakeFilter()">
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label>Modelo</label>
                      <div class="flex flex-col flex-auto" *ngIf="disabledModelFilter">
                        <h6 class="text-center">Cargando...</h6>
                        <div class="loader-box">
                          <div class="loader-3"></div>
                        </div>
                      </div>
                      <ng-select [items]="modelFilter" placeholder="(*) Modelo" (change)="this.onChangeModelFilter()" *ngIf="!disabledModelFilter"
                          class="js-example-placeholder-multiple" formControlName="model">
                      </ng-select>
                    </div>
                    <!--<div class="form-group">
                      <label>Modelo</label>
                      <input class="form-control" type="text" placeholder="Modelo" formControlName="model">
                      <div *ngIf="formOrder.controls.model.touched && formOrder.controls.model.errors?.minlength"
                      class="text text-danger mt-1">
                        Debe tener minimo de 3 caracteres
                      </div>
                      <div *ngIf="formOrder.controls.model.touched && formOrder.controls.model.errors?.maxlength"
                      class="text text-danger mt-1">
                        Debe tener un maximo de 40 caracteres
                      </div>
                    </div>-->
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label>Año</label>
                      <div class="flex flex-col flex-auto" *ngIf="disabledYearFilter">
                        <h6 class="text-center">Cargando...</h6>
                        <div class="loader-box">
                          <div class="loader-3"></div>
                        </div>
                      </div>
                      <ng-select [items]="yearFilter" placeholder="(*) Año" *ngIf="!disabledYearFilter"
                          class="js-example-placeholder-multiple" formControlName="year">
                      </ng-select>
                    </div>
                    <!--<div class="form-group">
                      <label>Año</label>
                      <input class="form-control" placeholder="(*) Año" formControlName="year">
                      <div *ngIf="formOrder.controls.year.errors && formOrder.controls.year.touched && formOrder.controls.year.errors.required"
                          class="text text-danger mt-1">
                          Es requerido
                      </div>
                      <div *ngIf="formOrder.controls.year.errors && formOrder.controls.year.touched && formOrder.controls.year.errors?.invalidNumber"
                          class="text text-danger mt-1">
                          Solo se admiten números
                      </div>
                      <div *ngIf="formOrder.controls.year.touched && formOrder.controls.year.errors?.minlength"
                        class="text text-danger mt-1">
                          Debe tener mínimo de 4 dígitos
                        </div>
                      <div *ngIf="formOrder.controls.year.touched && formOrder.controls.year.errors?.maxlength"
                        class="text text-danger mt-1">
                          Debe tener un máximo de 4 dígitos
                      </div>
                    </div>-->
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label>Chasis/VIN</label>
                      <input class="form-control" type="text" placeholder="(*) Chasis/VIN" formControlName="chassis">
                      <div *ngIf="formOrder.controls.chassis.errors && formOrder.controls.chassis.touched && formOrder.controls.chassis.errors.required"
                          class="text text-danger mt-1">
                          Es requerido
                      </div>
                      <div *ngIf="formOrder.controls.chassis.touched && formOrder.controls.chassis.errors?.minlength"
                        class="text text-danger mt-1">
                          Debe tener minimo de 3 caracteres
                        </div>
                      <div *ngIf="formOrder.controls.chassis.touched && formOrder.controls.chassis.errors?.maxlength"
                        class="text text-danger mt-1">
                          Debe tener un maximo de 40 caracteres
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-4">
                  <div class="mb-3">
                    <h6>Agrega una foto del padrón del auto</h6>
                    <span>(Donde aparezca el VIN del auto, para asegurar que recibas ofertas precisas a lo que buscas)</span>
                    <span style="display: block;">(No tienes el padrón a mano? Busca tu VIN por tu patente en <a href="https://www.patentechile.com/" target="_blank">patenteschile.com</a> y nos subes esa foto)</span>
                  </div>
                  <div class="col-md-3" *ngIf="loadingImg">
                    <h6 class="mb-0 text-center">Cargando foto...</h6>
                    <div class="loader-box">
                      <div class="loader-3"></div>
                    </div>
                  </div>
                  <div *ngIf="!loadingImg">
                    <img src="{{url}}" class="row mb-3" id="image_service">
                    <button class="btn btn-info mb-3" (click)="fileInput.click()" type="button">
                      <i class="flex align-middle" data-feather="download"></i>
                      Cargar Imagen
                    </button>
                    <input class="btn btn-outline-primary" type="file" #fileInput (change)="fileChangeEvent($event)" hidden >
                  </div>
                </div>
              </div>
            </div>
        </div>
        <hr class="border-top:3px" >
        <div class="card-header">
          <h5>Datos taller</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive mb-3">
            <div class="">
              <h6>Elige un {{this.profile.role.name}}</h6>
            </div>
            <table class="table table-bordered radio-first-col-width">
              <tbody>
                <tr *ngFor="let company of companies; index as i">
                    <td *ngIf="this.formatRut(company.rut) != 'rut incorrecto'" >{{company.name}} 
                        <div class="radio radio-primary">
                            <input id="radio{{i}}" class="ml-2" type="radio" name="radio" value="{{company.rut}}" (click)="this.clickCompany(company.rut)"
                            [checked]="i === 0">
                            <label for="radio{{i}}" class="mb-0">{{this.formatRut(company.rut)}}</label>
                        </div>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mt-1">
            <button class="btn btn-pill btn-primary m-r-15 mb-3" type="submit" (click)="add()" [disabled]="formOrder.invalid">Crear Pedido</button>
            <button class="btn btn-pill btn-info mb-3" type="button" (click)="goBack()">Volver</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>