<app-breadcrumb [title]="'Revisar Ofertas'"></app-breadcrumb>
<div class="flex flex-col flex-auto" *ngIf="loading">
  <h6 class="text-center">Procesando...</h6>
  <div class="loader-box">
    <div class="loader-3"></div>
  </div>
</div>
<div class="col-sm-12" *ngIf="!loading">
    <div class="card">
        <div class="card-header">
          <h5>Detalles del repuesto pedido</h5>
        </div>
        <div class="card-body">
          <div class="social-chat">
            <div class="your-msg">
                <div class="media">
                  <div class="media-body">
                    <span class="f-w-500">{{order.brand}} {{order.model}} {{order.year}}</span>
                    <img class="img-100 img-fluid pull-right" alt="" src="{{order.photo}}">
                    <p>{{order.chassis}}</p>
                    <p>Repuesto: {{product.title}}</p>
                    <p>Cantidad: {{product.originalQty}}</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <hr class="border-top:3px" >
        <div class="card-header">
          <h5>Detalles de la oferta</h5>
        </div>
        <div class="card-body">
            <div>
                <span *ngIf="this.offers && this.offers.length > 0">Puede comprar hasta {{this.counter}} item(s) de este producto</span>
                <div id="offer_{{i}}" class="social-chat" *ngFor="let off of this.offers; index as i">
                  <div class="your-msg" *ngIf="off.status == 2">
                    <div class="media">
                      <div class="media-body"><span class="f-w-500">Oferta: ${{(off.price + off.price * off.commission).toLocaleString('es-CL')}} <span> valor neto por unidad</span></span>
                              <img class="img-100 img-fluid pull-right" alt=""
                              src="{{off.photo}}">
                        <p>Cantidad ofrecida: {{off.qty}} Unidades</p>
                        <fieldset>
                          <p>Cantidad:</p>
                          <div class="input-group bootstrap-touchspin">
                            <button class="btn btn-primary btn-square bootstrap-touchspin-down" type="button" (click)="decrement(off, i)">
                              <i class="fa fa-minus"></i>
                            </button>
                            <input class="touchspin form-control" type="text" value={{off.qtyOfferAccepted}}>
                            <div class="input-group-append ml-0">
                              <button class="btn btn-primary btn-square bootstrap-touchspin-up" type="button" (click)="increment(off, i)">
                                <i class="fa fa-plus"></i>
                              </button>
                            </div>
                          </div>
                        </fieldset>
                        <p>Características del producto: <span class="f-w-500">{{off.estado}}</span>, <span class="f-w-500">{{off.origen}}</span></p>
                        
                          <!--<button class="btn" type="button" (click)="QuickViewOrdersEdit.openModal(this.order, this.user.companies)"><i class="fa fa-edit"></i></button>-->
                        <!--<label class="col-form-label mb-3">Aprobar Oferta</label>-->
                        <div class="icon-state switch-outline">
                          <label class="switch">
                            <input type="checkbox" id="{{i}}" (change)="this.checkOffer(off, $event)" #inputCheck><span class="switch-state bg-success"></span>
                          </label>
                        </div>
                        <label class="mb-3">Bien! Acepto la oferta y términos y condiciones</label>
                        <!--<label class="switch">
                          <input type="checkbox" id="{{i}}" (change)="this.checkOffer(off, $event)"><span class="switch-state bg-success"></span>
                        </label>-->
                        
                      </div>
                    </div>
                    <hr class="border-top:3px" >
                  </div>
                    
                    
                </div>
              <h5>Total a pagar: ${{this.totalConfirm.toLocaleString('es-CL')}} | Productos: {{countQtyOffers}}</h5>
              <div class="mt-1">
                  <button *ngIf="this.offers && this.offers.length > 0" class="btn btn-pill btn-primary m-r-15 mb-3" type="button" (click)="add()" [disabled]="this.countQtyOffers > this.counter || this.countQtyOffers <= 0">Aceptar Oferta</button>
                  <button class="btn btn-pill btn-info mb-3" type="button" (click)="goBack()">Volver</button>
              </div>
              <div *ngIf="this.countQtyOffers > this.counter"class="text text-danger mt-1">
                La confirmación de ofertas no puede exceder la cantidad del producto pedido ({{this.counter}})
              </div>  
            </div>
        </div>
    </div>
</div>