<app-breadcrumb [title]="'Detalle Repuesto'"></app-breadcrumb>
<div class="flex flex-col flex-auto" *ngIf="loading">
  <div class="showLoading">
      <mat-progress-spinner [diameter]="60" [mode]="'indeterminate'">
      </mat-progress-spinner>
      <div class="mt-2 font-medium">Procesando...</div>
  </div>
</div>
<div class="col-sm-12" *ngIf="!loading">
    <div class="card">
        <div class="card-body">
          <div class="social-chat mb-3">
            <div class="your-msg">
                <div class="media">
                    <div class="media-body">
                        <span class="f-w-500">{{order.chassis}}</span>
                        <img class="img-100 img-fluid pull-right" alt="" src="{{order.photo}}">
                        <p>{{order.brand}}</p>
                        <p>{{order.model}}</p>
                    </div>
                </div>
            </div>
          </div>
            <form [formGroup]="form">
                <div class="form-row">
                  <div class="col mb-3">
                    <div class="form-group">
                      <label>Nombre Repuesto</label>
                      <input class="form-control" type="text" placeholder="(*) Nombre Repuesto" formControlName="description">
                      <div *ngIf="form.controls.description.touched && form.controls.description.errors?.minlength"
                        class="text text-danger mt-1">
                          Debe tener minimo de 3 caracteres
                        </div>
                      <div *ngIf="form.controls.description.touched && form.controls.description.errors?.maxlength"
                        class="text text-danger mt-1">
                          Debe tener un maximo de 40 caracteres
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col mb-3">
                    <fieldset>
                      <label>Cantidad:</label>
                      <div class="input-group bootstrap-touchspin">
                        <button class="btn btn-primary btn-square bootstrap-touchspin-down" type="button">
                          <i class="fa fa-minus"></i>
                        </button>
                        <input class="touchspin form-control" type="text" value={{counter}} [disabled]="true">
                        <div class="input-group-append ml-0">
                          <button class="btn btn-primary btn-square bootstrap-touchspin-up" type="button">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div id="offer_{{i}}" class="social-chat" *ngFor="let off of this.product.offer; index as i">
                  <div class="your-msg" *ngIf="i < 5 && off.status <= 1">
                    <div class="media">
                      <div class="media-body"><span class="f-w-500">Oferta: ${{off.price.toLocaleString('es-CL')}} <span> ({{off.cantidad}} Unidades)</span></span>
                              <img class="img-100 img-fluid pull-right" alt=""
                              src="{{off.photo}}">
                        <p>{{off.origen}}</p>
                        <p>{{off.estado}}</p>
                        <p>{{off.comentario}}</p>
                        
                          <!--<button class="btn" type="button" (click)="QuickViewOrdersEdit.openModal(this.order, this.user.companies)"><i class="fa fa-edit"></i></button>-->
                        <!--<label class="col-form-label mb-3">Aprobar Oferta</label>-->
                        <label class="switch">
                          <input type="checkbox" id="{{i}}" (change)="this.checkOffer(off, $event)"><span class="switch-state"></span>
                        </label>
                        
                      </div>
                    </div>
                    <hr class="border-top:3px" >
                  </div>
                    
                    
                </div>
              <span *ngIf="this.product.offer && this.product.offer.length > 0">Total: ${{this.totalConfirm.toLocaleString('es-CL')}} | Productos: {{countQtyOffers}}</span>
              <div class="mt-1">
                  <button *ngIf="this.product.offer && this.product.offer.length > 0" class="btn btn-pill btn-primary m-r-15 mb-3" type="button" (click)="add()" [disabled]="this.countQtyOffers > this.counter || this.countQtyOffers <= 0">Confirmar</button>
                  <button class="btn btn-pill btn-info mb-3" type="button" (click)="goBack()">Volver</button>
              </div>
              <div *ngIf="this.countQtyOffers > this.counter"class="text text-danger mt-1">
                La confirmación de ofertas no puede exceder la cantidad del producto pedido ({{this.counter}})
              </div>  
            </form>
        </div>
    </div>
</div>