<app-breadcrumb [title]="'Mis Ofertas'"></app-breadcrumb>
<div class="container-fluid">
    <div class="flex flex-col flex-auto" *ngIf="loading">
	<div class="loader-box">
	  <div class="loader-3"></div>
	</div>
    </div>
    <div class="main" *ngIf="!loading">
        <div class="card" *ngIf="!filterHidden">
            <div class="card-body">
                <form [formGroup]="filterForm" class="needs-validation">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label>Estado</label>
                                <select formControlName="status" class="form-control btn-pill">
                                    <option class="mat-select-placeholder" value="">Todos los Estados</option>
                                    <option value="-3-4">Expirado</option>
                                    <option value="-2">Rechazado</option>
                                    <option value="2">Publicado</option>
                                    <option value="3">Adjudicado</option>
                                    <option value="4">Proceso de compra</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label>Periodo</label>
                                <select formControlName="date" class="form-control btn-pill">
                                    <option class="flex-grow-1" *ngFor="let period of this.periods" value="{{period}}" >{{period}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col">
                    <button class="btn btn-pill btn-primary" type="button" (click)="changeFilter()" >Buscar</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3" *ngIf="listView">
            <button class="btn btn-pill btn-info" (click)="this.showFilter()" type="button" >{{this.filterButton}}</button>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h6>Listado de ofertas creadas en el sistema.</h6>
                        </div>
                        <div class="flex flex-col flex-auto" *ngIf="loadingOffers">
                            <h6 class="text-center">Cargando ofertas...</h6>
                            <div class="loader-box">
                              <div class="loader-3"></div>
                            </div>
                        </div>
                        <div class="table-responsive" *ngIf="!loadingOffers">
                            <table id="table-ventas" class="table table-hover table-border-horizonta">
                                <thead>
                                    <tr>
                                    <th scope="col">Repuesto</th>
                                    <th scope="col">Marca / Modelo</th>
                                    <th scope="col">Origen</th>
                                    <th scope="col">Condición</th>
                                    <th scope="col">Precio</th>
                                    <th class="text-center" scope="col">Cantidad</th>
                                    <th scope="col">Status</th>
                                    <!--<th scope="col">Editar</th>
                                    <th scope="col">Eliminar</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr (click)="onCellClick(offer.id)" *ngFor="let offer of offers; index as i"  >
                                        <td>{{offer.product.title}}</td>
                                        <td>{{offer.order.brand}} - {{offer.order.model}}</td>
                                        <td [innerHTML]="offer.origen"></td>
                                        <td>{{offer.estado}}</td>
                                        <td>$ {{offer.price | number:'1.0-0'}}</td>
                                        <td class="text-center">{{offer.qtyOfferAccepted | number:'1.0-0'}}</td>
                                        <td>
                                            <button *ngIf="offer.status == -3 || offer.status == -4" class="btn btn-pill btn-secondary btn-xs">Expirado</button>
                                            <button *ngIf="offer.status == -2" class="btn btn-pill btn-secondary btn-xs">Rechazado</button>
                                            <button *ngIf="offer.status == 2" class="btn btn-pill btn-primary btn-xs">Publicado</button>
                                            <button *ngIf="offer.status == 3" class="btn btn-pill btn-info btn-xs">Adjudicado</button>
                                            <button *ngIf="offer.status == 4" class="btn btn-pill btn-success btn-xs">Proceso de compra</button>
                                        </td>
                                        <!--<td><button class="btn btn-pill btn-primary btn-xs" [disabled]="offer.status !== 2">Editar</button></td>
                                        <td><button class="btn btn-pill btn-secondary btn-xs" [disabled]="offer.status !== 2" (click)="removeWithConfirmation(offer.id)">Eliminar</button></td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<div class="card-footer">
                            Valores con IVA
                        </div>-->
                    </div>
                </div>      
            </div>
        </div>
        <ngb-pagination 
            *ngIf="!listView"
            class="d-flex justify-content-center mb-3" 
            [collectionSize]="totalElements" 
            [pageSize]="50"
            [boundaryLinks]="true"
            [(page)]="currentPage"
            [maxSize]="5" 
            [rotate]="true" 
            (pageChange)="onPageFired($event)"
            aria-label="Default pagination">
        </ngb-pagination>
        <ngb-pagination 
            *ngIf="listView"
            class="d-flex justify-content-center mb-3" 
            [collectionSize]="totalElements" 
            [pageSize]="50"
            [boundaryLinks]="true"
            [(page)]="currentPage"
            [maxSize]="3" 
            [rotate]="true" 
            (pageChange)="onPageFired($event)"
            aria-label="Default pagination">
        </ngb-pagination>
    </div>
</div>
