.custom-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 1em;
	background-color: white;
	box-shadow: 0 0 20px rgba(8, 21, 66, 0.05);
	padding: 2rem;
}

.custom-button-group {
	display: flex;
	gap: 2em;
}

.row-container {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
}

@media (max-width: 768px) {
	.custom-card {
		flex-direction: column;
		text-align: center;
	}
	.custom-button-group {
		margin-top: 2em;
		flex-direction: column;
	}
}
