<app-breadcrumb [title]="'Mis Perfiles'"></app-breadcrumb>
<div class="container-fluid" *ngIf="access">
    <div class="flex flex-col flex-auto" *ngIf="loading">
        <h6 class="text-center">Procesando...</h6>
        <div class="loader-box">
          <div class="loader-3"></div>
        </div>
    </div>
    <div class="main" *ngIf="!loading">
        <div class="content" *ngIf="roles !== null">
            <div class="main-actions mb-4">
                <!-- Add contact button -->
                <button class="btn btn-primary" *ngIf="canWrite()" [color]="'primary'" (click)="add()">
                    Agregar
                </button>
            </div>
            <div class="row-container">
                <div *ngFor="let role of roles; let i = index" class="custom-card mb-4">
                            <div>
                                <a routerLink="/admin/users/role/view/{{role.slug}}">
                                    <div class="text-2xl font-semibold leading-tight">
                                        {{ role.title }}
                                    </div>
                                </a>
                                <div class="text-secondary font-medium text-md mt-1">
                                    {{role.description}}
                                </div>
                            </div>
                            <div class="ml-auto">
                                <button 
                                    (click)="edit(role.slug)" 
                                    *ngIf="canWrite()" 
                                    class="btn btn-primary rounded mr-4">
                                    Editar
                                </button>
                                <button 
                                    (click)="removeWithConfirmation(role.slug)" 
                                    *ngIf="canWrite()" 
                                    class="btn btn-primary rounded">
                                    Eliminar
                                </button>
                            </div>
                    <mat-paginator 
                        *ngIf="roles.length > 0"
                        [length]="totalElements"
                        [pageIndex]="currentPage"
                        [pageSize]="pageSize"
                        (page)="onPageFired($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>