<app-breadcrumb [title]="'Carrito de Compras'" [active_item]="'Carrito de compras'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Ofertas Recepcionadas</h5>
        </div>
        <div class="card-body" *ngIf="!this.loading">
            <div *ngIf="!products || products.length <= 0">Carrito de compras vacío</div>
            <div class="row mb-3" *ngFor="let product of orderOffer">
                <span class="col mb-3">ID Pedido: {{product.id_order}}</span>
                <button class="btn btn-pill btn-info mb-3" type="button" (click)="this.contactTransferInfo(product.offers)">Formas de Pago</button>
                <div class="order-history table-responsive wishlist">
                    <table class="table table-bordered mb-3">
                      <thead>
                        <tr>
                          <th>Oferta</th>
                          <th>Estado</th>
                          <th>Origen</th>
                          <th>Cantidad</th>
                          <th>Cancelar Oferta</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let off of product.offers">
                            <td *ngIf="off.status == 2"><img class="img-fluid img-40" src="{{off.photo}}" alt="#"></td>
                            <td *ngIf="off.status == 2">
                                <div class="product-name"><a href="javascript:void(0);">{{off.estado}}</a></div>
                            </td>
                            <td *ngIf="off.status == 2">{{off.origen}}</td>
                            <td *ngIf="off.status == 2"><span>{{off.cantidad}}</span>
                            </td>
                            <td *ngIf="off.status == 2"><i data-feather="x-circle"></i></td>
                            <td *ngIf="off.status == 2">${{off.price.toLocaleString('es-CL')}}</td>
                        </tr>
                        <tr>
                          <td class="total-amount">
                            <h6 class="m-0 text-right"><span class="f-w-600">Precio Total :</span></h6>
                          </td>
                          <td colspan="5"><span>${{this.totalProduct(product.offers).toLocaleString('es-CL')}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <div class="mt-1">
                    <button class="btn btn-pill btn-success">Confirmar Pago</button>
                </div>
                <hr class="border-top:3px" >
            </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
    </div>
  </div>
</div>