<div class="media profile-media">
  <img class="b-r-10" src="assets/images/User.jpg" alt="">
  <div class="media-body"><span>{{perfil.name}}</span>
      <p class="mb-0 font-roboto">{{perfil.role.name}} <i class="middle fa fa-angle-down"></i></p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div">
  <li>
      <a (click)="myProfile()">
          <app-feather-icons [icon]="'user'"></app-feather-icons><span>Mi Perfil</span></a>
  </li>
  <li>
      <a (click)="logout()">
          <app-feather-icons [icon]="'log-in'"></app-feather-icons><span>Desconectar</span></a>
  </li>
</ul>