<app-breadcrumb [title]="'Productos no Ofertados'" [items]="['Requerimientos']" [active_item]="'Productos no Ofertados'"></app-breadcrumb>
<style>
    .ngx-datatable {
  width: 100%;
}
    </style>
<div class="product-grid">
    <div class="feature-products">
        <div class="row">
            <div class="col-md-6 products-total">
                <div class="square-product-setting d-inline-block" (click)="toggleListView(false)">
                  <a class="icon-grid grid-layout-view" href="javascript:void(0);">
                    <i data-feather="grid"></i>
                  </a>
                </div>
                <div class="square-product-setting d-inline-block" (click)="toggleListView(true)">
                  <a class="icon-grid m-0 list-layout-view" href="javascript:void(0);">
                    <i data-feather="list"></i>
                  </a>
                </div>
                <div class="grid-options d-inline-block">
                  <ul>
                    <li (click)="gridColumn(6)"><a class="product-2-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-1 bg-primary"></span><span class="line-grid line-grid-2 bg-primary"></span></a></li>
                    <li (click)="gridColumn(4)"><a class="product-3-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-3 bg-primary"></span><span class="line-grid line-grid-4 bg-primary"></span><span class="line-grid line-grid-5 bg-primary"></span></a></li>
                    <li (click)="gridColumn(3)"><a class="product-4-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-6 bg-primary"></span><span class="line-grid line-grid-7 bg-primary"></span><span class="line-grid line-grid-8 bg-primary"></span><span class="line-grid line-grid-9 bg-primary"></span></a></li>
                    <li (click)="gridColumn(2)"><a class="product-6-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-10 bg-primary"></span><span class="line-grid line-grid-11 bg-primary"></span><span class="line-grid line-grid-12 bg-primary"></span><span class="line-grid line-grid-13 bg-primary"></span><span class="line-grid line-grid-14 bg-primary"></span><span class="line-grid line-grid-15 bg-primary"></span></a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-wrapper-grid" [class.list-view]="listView">
    <div class="row">
        <div [class]="'col-xl-'+col+' col-sm-'+col" [class.col-xl-12]="listView" *ngFor="let product of products">
            <div class="card">
              <div class="product-box">
                <div class="product-img"><img class="img-fluid" src="assets/images/nophoto.png" alt="">
                  <div class="product-hover">
                    <ul>
                      <li (click)="QuickViewOffersAdd.openModal(product)" >
                        <!--<button class="btn" type="button" (click)="QuickViewOrdersEdit.openModal(this.order, this.user.companies)"><i class="fa fa-edit"></i></button>-->
                        <button ngbTooltip="Generar Oferta"  class="btn" type="button"><i class="fa fa-check "></i></button>
                      </li>
                      <li (click)="QuickViewOffersView.openModal(product)">
                        <button class="btn" type="button" data-toggle="modal" data-target="#exampleModalCenter22" ><i class="icon-eye"></i></button>
                      </li>
                      <!--<li *ngIf="this.product.offer.length > 0" (click)="quickViewOffersDetail.openModal(product)">
                        <button  ngbTooltip="Ver Ofertas ({{this.product.offer.length}})"class="btn" type="button" data-toggle="modal" data-target="#exampleModalCenter23" ><i class="fa fa-money"></i></button>
                      </li>-->
                    </ul>
                  </div>
                </div>
                <div class="product-details">
                  <h4>{{product.title}}</h4>
                  <p>Cantidad: {{product.qty}}</p>
                  <p>{{product.idOrder}}</p>
                  <p>{{this.formatRut(product.company)}}</p>
                 
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
<div class="container-fluid">
  <div class="row">
    <!-- Individual column searching (text inputs) Starts-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Productos no Ofertados</h5><span>Search your product from here..</span>
        </div>
        <div class="card-body">
          <div class="table-responsive product-list-custom custom-datatable table-hover">
            <div class="table-responsive table-hover" style="width:100%"> 
                 <ngx-datatable class="bootstrap" [rows]="this.ordertable" [columns]="[
                {prop:'model',name: 'Producto'},
                {prop:'brand',name: 'Marca'},
                {prop:'idOrder',name: 'Pedido'},
                {prop:'company',name: 'Company'}
                ]"
                 [columnMode]="'force'"
                 [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
              </ngx-datatable>
            </div>
            </div>
            </div>
          </div>
        </div>
    </div>
    </div>
            

<app-offers-add #quickViewOffersAdd></app-offers-add>
<app-offers-view #quickViewOffersView></app-offers-view>
<app-offers-detail #quickViewOffersDetail></app-offers-detail>
