<app-breadcrumb *ngIf="this.profile.role.slug === 'taller'" [title]="'Agregar Facturación'"></app-breadcrumb>
<app-breadcrumb *ngIf="this.profile.role.slug !== 'taller'" [title]="'Agregar '+this.profile.role.name"></app-breadcrumb>
<div>
    <div class="flex flex-col flex-auto" *ngIf="loading">
        <h6 class="text-center">Procesando...</h6>
        <div class="loader-box">
          <div class="loader-3"></div>
        </div>
      </div>
    <div class="card" *ngIf="!loading">
        <form [formGroup]="companiesForm">
            <div class="card-body">
                <div *ngIf="this.profile.role.slug === 'taller'">
                    <div class="col">
                        <div class="form-group">
                            <label for="billing">Tipo Facturación</label>
                            <div class="radio radio-primary" *ngFor="let billing of billingTypes; index as i">
                                <input id="radio{{i}}" class="ml-3" type="radio" name="radio" value="{{billing.slug}}" (click)="this.clickBilling(billing.slug)"
                                [checked]="billing.check">
                                <label for="radio{{i}}" class="mb-2">{{billing.title}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col">
                        <div class="form-group">
                            <label for="rut">Rut</label>
                            <input class="form-control btn-pill" id="rut" type="rut" minlength="8" maxlength="12"
                                placeholder="Rut del {{this.companyType}}" formControlName="rut" (blur)="onBlurRut()" (focus)="onFocusRut()">  
                            <div *ngIf="companiesForm.controls.rut.errors && companiesForm.controls.rut.touched && companiesForm.controls.rut.errors.required"
                                class="text text-danger mt-1">
                                Es requerido
                            </div>
                            <div *ngIf="companiesForm.controls.rut.errors && companiesForm.controls.rut.touched && companiesForm.controls.rut.errors?.rut"
                                class="text text-danger mt-1">
                                Formato invalido
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col">
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input class="form-control btn-pill" id="name" type="name"
                                placeholder="Nombre del {{this.companyType}}" formControlName="name">  
                            <div *ngIf="companiesForm.controls.name.errors && companiesForm.controls.name.touched && companiesForm.controls.name.errors.required"
                                class="text text-danger mt-1">
                                Es requerido
                            </div>
                            <div *ngIf="companiesForm.controls.name.touched && companiesForm.controls.name.errors?.maxlength"
                                class="text text-danger mt-1">
                                Debe tener un maximo de 18 caracteres
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col">
                        <div class="form-group">
                            <label for="direction">Dirección</label>
                            <input class="form-control btn-pill" id="direction" type="direction"
                                placeholder="Dirección del {{this.companyType}}" formControlName="direction">
                            <div *ngIf="companiesForm.controls.direction.errors && companiesForm.controls.direction.touched && companiesForm.controls.direction.errors.required"
                                class="text text-danger mt-1">
                                Es requerido
                            </div>
                            <div *ngIf="companiesForm.controls.direction.touched && companiesForm.controls.direction.errors?.maxlength"
                                class="text text-danger mt-1">
                                Debe tener un maximo de 140 caracteres
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col">
                      <div class="form-group">
                        <label>Región</label>
                        <ng-select [items]="regionFilter" placeholder="Región del {{this.companyType}}"
                            class="js-example-placeholder-multiple btn-pill" formControlName="region" (ngModelChange)="this.onChangeRegionFilter()" (clear)="this.onClearRegionFilter()">
                        </ng-select>
                        <div *ngIf="companiesForm.controls.region.errors && companiesForm.controls.region.touched && companiesForm.controls.region.errors.required"
                            class="text text-danger mt-1">
                            Es requerido
                        </div>
                      </div>
                    </div>
                </div>
                <div>
                    <div class="col">
                      <div class="form-group">
                        <label>Comuna</label>
                        <div class="flex flex-col flex-auto" *ngIf="disabledCommuneFilter">
                            <h6 class="text-center">Cargando Comunas...</h6>
                            <div class="loader-box">
                              <div class="loader-3"></div>
                            </div>
                          </div>
                        <ng-select [items]="communeFilter" placeholder="Comuna del {{this.companyType}}" *ngIf="!disabledCommuneFilter"
                            class="js-example-placeholder-multiple btn-pill" formControlName="commune">
                        </ng-select>
                        <div *ngIf="companiesForm.controls.commune.errors && companiesForm.controls.commune.touched && companiesForm.controls.commune.errors.required"
                            class="text text-danger mt-1">
                            Es requerido
                        </div>
                      </div>
                    </div>
                </div>
                <div>
                    <div class="col">
                        <div class="form-group">
                            <label for="phone">Teléfono</label>
                            <input class="form-control btn-pill" id="phone" type="phone"
                                placeholder="Teléfono del {{this.companyType}}" formControlName="phone">  
                            <div *ngIf="companiesForm.controls.phone.errors && companiesForm.controls.phone.touched && companiesForm.controls.phone.errors.required"
                                class="text text-danger mt-1">
                                Es requerido
                            </div>
                            <div *ngIf="companiesForm.controls.phone.errors && companiesForm.controls.phone.touched && companiesForm.controls.phone.errors?.invalidMobileNumber"
                                class="text text-danger mt-1">
                                Formato invalido, ejemplo: 912341234
                            </div>
                            <div *ngIf="companiesForm.controls.phone.errors && companiesForm.controls.phone.touched && companiesForm.controls.phone.errors?.invalidNumber"
                                class="text text-danger mt-1">
                                Solo se admiten números
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.profile.role.slug === 'comercio'">
                    <div class="col">
                        <div class="form-group">
                            <label for="accountNumber">Número de Cuenta Banco</label>
                            <input class="form-control btn-pill" id="accountNumber" type="accountNumber"
                                placeholder="Número de Cuenta del {{this.companyType}}" formControlName="accountNumber">
                            <div *ngIf="companiesForm.controls.accountNumber.errors && companiesForm.controls.accountNumber.touched && companiesForm.controls.accountNumber.errors.required"
                                class="text text-danger mt-1">
                                Es requerido
                            </div>
                            <div *ngIf="companiesForm.controls.accountNumber.errors && companiesForm.controls.accountNumber.touched && companiesForm.controls.accountNumber.errors?.invalidNumber"
                                class="text text-danger mt-1">
                                Solo se admiten números
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.profile.role.slug === 'comercio'">
                    <div class="col">
                        <div class="form-group">
                            <label>Tipo de Cuenta</label>
                            <ng-select 
                                [items]="accountTypesFilter" 
                                placeholder="Tipo de Cuenta del {{this.companyType}}"
                                class="js-example-placeholder-multiple btn-pill"
                                [multiple]="false"
                                formControlName="accountType">
                            </ng-select>
                            <div *ngIf="companiesForm.controls.accountType.errors && companiesForm.controls.accountType.touched && companiesForm.controls.accountType.errors.required"
                                class="text text-danger mt-1">
                                Es requerido
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.profile.role.slug === 'comercio'">
                    <div class="col">
                        <div class="form-group">
                            <label>Banco</label>
                            <ng-select 
                                [items]="banksFilter" 
                                placeholder="Banco del {{this.companyType}}"
                                class="js-example-placeholder-multiple btn-pill" 
                                [multiple]="false"
                                formControlName="bank">
                            </ng-select>
                            <div *ngIf="companiesForm.controls.bank.errors && companiesForm.controls.bank.touched && companiesForm.controls.bank.errors.required"
                                class="text text-danger mt-1">
                                Es requerido
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.profile.role.slug === 'comercio'">
                    <div class="col">
                        <label>Marcas</label>
                        <ng-select 
                            [items]="makesFilter" 
                            placeholder="Marcas que vende su comercio"
                            class="js-example-placeholder-multiple btn-pill" 
                            [multiple]="true"
                            formControlName="make">
                        </ng-select>
                        <div *ngIf="companiesForm.controls.make.errors && companiesForm.controls.make.touched && companiesForm.controls.make.errors.required"
                            class="text text-danger mt-1">
                            Es requerido
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-pill btn-primary mr-1" type="submit" [disabled]="!companiesForm.valid" (click)="add()">Agregar</button>
                <button class="btn btn-pill btn-info" type="cancel" (click)="goBack()">Volver</button>
            </div>
        </form>
    </div>
</div>