<ng-template #quickViewOffersDetail let-modal>
    <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="new-users-social">
              <div class="media">
                <div class="media-body">
                  <h6 class="mb-0 f-w-700">Ofertas ({{offers.length}})</h6>
                  <p>Requeridos: {{product.qty}}</p>
                </div>
              </div>
            </div>
            <div class="timeline-content">
              <hr>
              <div id="offer_{{i}}" class="social-chat" *ngFor="let off of offers; index as i">
                <div class="your-msg">
                  <div class="media">
                    <div class="media-body"><span class="f-w-500">Oferta: $ {{off.price | number:'1.0-0'}} <span> ({{off.cantidad}} Unidades)</span></span>
                      <p>{{off.origen}}</p>
                      <p>{{off.estado}}</p>
                      <p>{{off.comentario}}</p>
                      
                        <!--<button class="btn" type="button" (click)="QuickViewOrdersEdit.openModal(this.order, this.user.companies)"><i class="fa fa-edit"></i></button>-->
                        <button (click)="removeWithConfirmation(off.id,i)" class="btn btn-danger" type="button">Eliminar Oferta</button>
                      
                    </div>
                  </div>
                </div>
                  
                  <hr class="border-top:3px" >
              </div>
            </div>
          </div>
        </div>
    </div>
</ng-template>
