<app-breadcrumb [title]="'Podio ventas'" [active_item]="'Podio ventas'"></app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="flex flex-col flex-auto" *ngIf="loading">
          <h6 class="text-center">Procesando...</h6>
          <div class="loader-box">
            <div class="loader-3"></div>
          </div>
        </div>
        <div class="col-sm-12" *ngIf="!this.loading">
            <div class="card" *ngIf="!filterHidden">
              <div class="card-body">
                  <form [formGroup]="filterForm" class="needs-validation">
                      <div class="form-row">
                          <div class="col-md-6 mb-3">
                              <div class="form-group">
                                  <label>Estado</label>
                                  <select formControlName="status" class="form-control btn-pill">
                                      <option class="mat-select-placeholder" value="">Todos los Estados</option>
                                      <option value="4">Confirmar pago</option>
                                      <option value="5">Esperando Local</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6 mb-3">
                              <div class="form-group">
                                  <label>Periodo</label>
                                  <select formControlName="date" class="form-control btn-pill">
                                      <option class="flex-grow-1" *ngFor="let period of this.periods" value="{{period}}" >{{period}}</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </form>
                  <div class="col">
                      <button class="btn btn-pill btn-primary" type="button" (click)="changeFilter()" >Buscar</button>
                  </div>
              </div>
            </div>
            <div class="col-md-4 mb-3" *ngIf="listView">
              <button class="btn btn-pill btn-info" (click)="this.showFilter()" type="button" >{{this.filterButton}}</button>
            </div>
            <div class="card">
                <div class="card-body">
                    <div *ngIf="!orderOffer || orderOffer.length <= 0">No hay ventas por gestionar</div>
                    <div *ngIf="orderOffer && orderOffer.length > 0">
                      <span style="color: #808080;">Nota: Valores con IVA incluido</span>
                      <div>
                        <div class="order-history table-responsive wishlist">
                          <table class="table table-bordered mb-3">
                            <thead>
                              <tr>
                                <th style="text-align: left">Auto</th>
                                <th>Producto</th>
                                <th>Precio unitario</th>
                                <th>Q Oferta</th>
                                <th>Costo total</th>
                                <th>Comisión total</th>
                                <th>Total transacción</th>
                                <th>Taller</th>
                                <th>Comprobante Taller</th>
                                <th>Comercio</th>
                                <th>Estado</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let offer of orderOffer">
                                <!--<td *ngIf="off.status == 3"><img class="img-fluid img-40" src="{{off.photo}}" alt="#"></td>-->
                                <td style="text-align: left">{{offer.order.brand}} {{offer.order.model}} {{offer.order.year}}</td>
                                <td>{{offer.product.title}}</td>
                                <td>${{offer.price.toLocaleString('es-CL')}}</td>
                                <td><span>{{offer.qtyOfferAccepted}}</span></td>
                                <td>{{(offer.price * offer.qtyOfferAccepted).toLocaleString('es-CL')}}</td>
                                <td>{{((offer.price * offer.commission) * offer.qtyOfferAccepted).toLocaleString('es-CL')}}</td>
                                <td>${{((offer.price + offer.price * offer.commission) * offer.qtyOfferAccepted).toLocaleString('es-CL')}}</td>
                                <!--<td>
                                    <div class="product-name"><a href="javascript:void(0);">{{offer.estado}}</a></div>
                                </td>
                                <td>{{offer.origen}}</td>
                                <td>
                                    <button class="btn btn-pill btn-warning btn-xs" *ngIf="offer.status == 4">por confirmar</button>
                                    <button class="btn btn-pill btn-warning btn-xs" *ngIf="offer.status == 5">pago confirmado</button>
                                </td>-->
                                <td><button class="btn btn-pill btn-info btn-xs" (click)="this.contactCompany(offer.workshop,(offer.price + offer.price * offer.commission) * offer.qtyOfferAccepted)">{{offer.workshop.name}}</button></td>
                                <td><button class="btn btn-pill btn-info btn-xs" (click)="this.paymentReceipt(offer.workshop, offer.order.company, this.srv.apiUrl + '/files/' + offer.photoPaymentReceiptAtClaimant)">Comprobante</button></td>
                                <td><button class="btn btn-pill btn-info btn-xs" (click)="this.contactCompany(offer.commerce, offer.price * offer.qtyOfferAccepted)">{{offer.commerce.name}}</button></td>
                                <td>
                                  <button *ngIf="offer.status === 4" class="btn btn-pill btn-success btn-xs" (click)="this.QuickViewSalesManagementView.openModal(offer._id, offer.product._id, offer.order._id, offer)">Confirmar pago</button>
                                  <button *ngIf="offer.status === 5" class="btn btn-pill btn-warning btn-xs">Esperando Local</button>
                                  <button *ngIf="offer.status === 6" class="btn btn-pill btn-primary btn-xs">Pago recibido</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <hr class="border-top:3px" >
                    </div>
                  </div>
                </div>
            </div>
            <ngb-pagination 
              *ngIf="!listView"
              class="d-flex justify-content-center mb-3" 
              [collectionSize]="totalElements" 
              [pageSize]="50"
              [boundaryLinks]="true"
              [(page)]="currentPage"
              [maxSize]="5" 
              [rotate]="true" 
              (pageChange)="onPageFired($event)"
              aria-label="Default pagination">
            </ngb-pagination>
            <ngb-pagination 
              *ngIf="listView"
              class="d-flex justify-content-center mb-3" 
              [collectionSize]="totalElements" 
              [pageSize]="50"
              [boundaryLinks]="true"
              [(page)]="currentPage"
              [maxSize]="3" 
              [rotate]="true" 
              (pageChange)="onPageFired($event)"
              aria-label="Default pagination">
            </ngb-pagination>
        </div>
    </div>
</div>
<app-sales-management-view #quickViewSalesManagementView></app-sales-management-view>