<app-breadcrumb [title]="'Detalle perfil'"></app-breadcrumb>
<div class="flex flex-col flex-auto" *ngIf="loading">
    <h6 class="text-center">Procesando...</h6>
    <div class="loader-box">
      <div class="loader-3"></div>
    </div>
</div>
<div class="card" *ngIf="!loading">
    <div class="card-body" >
        <form class="needs-validation" novalidate [formGroup]="roleForm">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label>Identificador</label>
                    <input autocomplete="off" class="form-control" type="text" placeholder="Identificador" formControlName="slug">
                    <div *ngIf="roleForm.controls.title.errors && roleForm.controls.title.touched && roleForm.controls.title.errors.required"
                        class="text text-danger mt-1">
                        Es requerido
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Creado en</label>
                    <input autocomplete="off" class="form-control" type="text" placeholder="Creado en" formControlName="createdAt">
                    <div *ngIf="roleForm.controls.title.errors && roleForm.controls.title.touched && roleForm.controls.title.errors.required"
                        class="text text-danger mt-1">
                        Es requerido
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Creado por</label>
                    <input autocomplete="off" class="form-control" type="text" placeholder="Creado por" formControlName="createdBy">
                    <div *ngIf="roleForm.controls.title.errors && roleForm.controls.title.touched && roleForm.controls.title.errors.required"
                        class="text text-danger mt-1">
                        Es requerido
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col mb-3">
                    <label>Nombre</label>
                    <input autocomplete="off" class="form-control" type="text" placeholder="(*) Nombre Perfil" required="true" formControlName="title">
                    <div *ngIf="roleForm.controls.title.errors && roleForm.controls.title.touched && roleForm.controls.title.errors.required"
                        class="text text-danger mt-1">
                        Es requerido
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label>Descripción</label>
                <textarea class="form-control" placeholder="(*) Descripción Perfil" rows="3" formControlName="description"></textarea>
                <div *ngIf="roleForm.controls.description.errors && roleForm.controls.description.touched && roleForm.controls.description.errors.required"
                    class="text text-danger mt-1">
                    Es requerido
                </div>
            </div>
            <div class="form-row">
                <div class="col mb-3">
                    <label>Permisos</label>
                    <ng-select [items]="privilagesFilter" [multiple]="true" placeholder="(*) Permisos Perfil"
                    class="js-example-placeholder-multiple" formControlName="privileges">
                    </ng-select>
                </div>
            </div>
            <div class="form-row">
                <div class="col mb-3">
                    <label>Estado</label>
                    <div class="form-group m-t-15 custom-radio-ml ml-2">
                        <div class="radio radio-primary">
                            <input id="radio11" type="radio" name="radio1" (click)="onClickStatus('1')" [disabled]="true" [checked]="status === 1">
                            <label for="radio11">Activado</label>
                        </div>
                        <div class="radio radio-secondary">
                            <input id="radio22" type="radio" name="radio1" (click)="onClickStatus('0')" [disabled]="true" [checked]="status === 0">
                            <label for="radio22">Desactivado</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-info" type="button" (click)="goBack()">Volver</button>
            </div>
        </form>
    </div>
</div>