<div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">     
        <div class="login-card">
          <div>
            <div>
              <a class="logo">
                <img class="img-fluid for-light" src="assets/images/logo/Logo_Planeta_Tuerca.png" style=" max-width: 200px  !important; " alt="looginpage">
                <img class="img-fluid for-dark" src="assets/images/logo/Logo_Planeta_Tuerca.png" style=" max-width: 200px" alt="looginpage">
              </a>
            </div>
            <div class="login-main">
              <h4 class="mb-4 ">Recuperar Contraseña</h4>
              <form class="theme-form" [formGroup]="recoverForm">
                <p class="mt-4 mb-0">Se le enviará un correo para cambiar su contraseña.</p>
                <div class="form-group">
                  <label class="col-form-label">Email</label>
                  <input class="form-control" type="email" required email 
                         autocomplete="new-password"
                          placeholder="Escriba su email" formControlName="email">
                  <div *ngIf="recoverForm.controls.email.errors && recoverForm.controls.email.touched && recoverForm.controls.email.errors.required"
                      class="text text-danger mt-1">
                      El Email es requerido
                  </div>
                  <div *ngIf="recoverForm.controls.email.errors && recoverForm.controls.email.touched && recoverForm.controls.email.errors?.email"
                      class="text text-danger mt-1">
                      Email con formato invalido
                  </div>
                  <div class="form-group mt-4">
                    <button class="btn btn-primary btn-block "
                      [class.loader--text]="authService.showLoader"
                      [disabled]="!recoverForm.valid || authService.showLoader"
                      (click)="forgetPassword()"
                      type="button"><span>{{ authService.showLoader ? '' : 'Recuperar' }}</span>
                    </button>
                  </div>
                  <p class="mt-4 mb-0">Recordo su contraseña?
                    <a [routerLink]="'/auth/login'" class="ml-2">Iniciar Sesión</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
