<app-breadcrumb [title]="'Mis Ventas'" [active_item]="'Mi Ventas'">></app-breadcrumb>
<div class="container-fluid">
    <div class="flex flex-col flex-auto" *ngIf="loading">
	<div class="loader-box">
	  <div class="loader-3"></div>
	</div>
    </div>
    <div class="main" *ngIf="!loading">
        <div class="content" *ngIf="privileges !== null">
        <div class="row"> 
          <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                      <h6>Listado de mis ventas realizadas y pagadas, revisa tu banco y confirma el pago. Con esto notificaremos a tu cliente que puede retirar su pedido.</h6>
                  </div>
                  <div class="table-responsive">
                    <table id="table-ventas" class="table table-hover table-border-horizonta">
                      <thead>
                        <tr>
                          <th scope="col">Repuesto</th>
                          <th scope="col">Marca / Modelo</th>
                          <th scope="col">Origen</th>
                          <th scope="col">Condición</th>
                          <th scope="col">Precio</th>
                          <th class="text-center" scope="col">Cantidad</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr (click)="onCellClick(offer)" *ngFor="let offer of offersFormat; index as i"  >
                          <td>{{offer.product.title}}</td>
                          <td>{{offer.order.brand}} - {{offer.order.model}}</td>
                          <td [innerHTML]="offer.origen"></td>
                          <td>{{offer.estado}}</td>
                          <td>$ {{offer.price | number:'1.0-0'}}</td>
                          <td class="text-center">{{offer.qtyOfferAccepted | number:'1.0-0'}}</td>
                          <td [innerHTML]="offer.status"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                    <div class="card-footer">
                      Valores con IVA
                  </div>
                </div>
              </div>      
            </div>
            <app-sales-handler #quickViewSalesHandler></app-sales-handler>
        </div>
    </div>
</div>
