<app-breadcrumb [title]="'Ventas en Gestion'"></app-breadcrumb>
<div class="card">
    <div class="container-fluid mt-4 ">
        <h5>Buscar Referidos</h5>
        <form [formGroup]="filterForm" class="form-inline theme-form mt-3 billing-info mb-2">
            <div class="form-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-credit-card"></i></span></div>
                <input formControlName="rut" class="form-control flex-grow-1" type="text" placeholder="Rut">
            </div>
            <div class="form-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
                <input formControlName="fullname" class="form-control flex-grow-1" type="text" placeholder="Nombre">
            </div>

            <div class="form-group"><span class="input-group-text"><i class="fa fa-file-text-o"></i></span>
                <select formControlName="serviceType" class="custom-select form-control flex-grow-1">
                    <option value="">Todos los tipos</option>
                </select>
            </div>
            <div class="form-group"><span class="input-group-text"><i class="icofont icofont-pencil-alt-5"></i></span>
                <select formControlName="service"  class="custom-select form-control flex-grow-1">
                    <option value="">Todos los servicios</option>
                    <option *ngFor="let service of services" value="{{service.id}}">
                        {{service.serviceName}}</option>
                </select>
            </div>
            <div class="form-group"><span class="input-group-text"><i class="fa fa-circle-o"></i></span>
                <select formControlName="status" class="custom-select form-control flex-grow-1 ">
                    <option class="mat-select-placeholder" value="">Todos los Estados</option>
                    <option value="-1">Venta Rechazada</option>
                    <option value="1">En Gestion</option>
                    <option value="2">Venta Finalizada</option>
                </select>
            </div>
            <div class="form-group flex-grow-1"><span class="input-group-text"><i class="fa fa-calendar"></i></span>
                <select formControlName="date" class="custom-select form-control flex-grow-1">
                    <option value="">Periodo</option>
                    <option class="flex-grow-1" *ngFor="let period of this.periods" value="{{period}}" >{{period}}</option>

                </select>
            </div>


            <div class="row">
                <div class="col">
                    <div class="form-group ">
                        <button class="btn btn-primary" (click)="changeFilter()" >Buscar </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid mt-4">
    <div *ngFor="let referer of referers" class="col-md-6 col-xl-4 box-col-6 xl-50 mt-4 ">
        <div class="card custom-card -columns grid grid-cols-3">
            <ul class="list-group">
                <li class="card-header mb-4" [ngSwitch]="referer.status"><h5>{{referer.name}} {{referer.lastName}}</h5>
                    <span *ngSwitchCase="-1">{{referer.serviceName}} - Venta Rechazada: {{referer.information}}</span>
                    <span *ngSwitchCase="0">{{referer.serviceName}} - Ingresado</span>
                    <span *ngSwitchCase="1">{{referer.serviceName}} - En Gestión</span>
                    <span *ngSwitchCase="2">{{referer.serviceName}} - Venta Finalizada: A pago</span>
                </li>
                <div class="card-body">
                    <li class="list-group-item"><span><i class="pull-left icon-credit-card"></i>{{formatRut(referer.rut)}}</span></li>
                    <li class="list-group-item"><i class="pull-left icon-email"></i>{{referer.email}}</li>
                    <li class="list-group-item"><i class="pull-left fa fa-phone"></i>{{referer.phone}}</li>
                    <li class="list-group-item" *ngIf="referer.serviceType == '619c32e43415a25ccc7e4b02'"><i class="pull-left icon-check"></i>Servicio Móvil</li>
                    <li class="list-group-item" *ngIf="referer.serviceType == '619c32ed3415a25ccc7e4b03'"><i class="pull-left icon-check"></i>Servicio Hogar</li>
                    <li class="list-group-item"><i class="pull-left icon-check-box"></i>{{referer.promotion}}</li>
                    <li class="list-group-item"><i class="pull-left icon-money"></i>Comision base: {{referer.profit}}</li>
                    <li class="list-group-item"><i class="pull-left icon-money"></i>Cantidad de servicios vendidos: {{referer.cantidadServicios}}</li>
                    <li class="list-group-item"><i class="pull-left icon-time"></i>{{referer.createdAt | date: 'dd-MM-yyyy HH:mm'}}</li>
                    <li class="list-group-item"><i class="pull-left icon-share-alt"></i>{{referer.updatedAt | date: 'dd-MM-yyyy HH:mm'}}</li>
                </div>
            </ul>
            <div class="card-footer default-accordion mb-4">
                <ngb-accordion #acc="ngbAccordion" activeIds="">
                    <ngb-panel title="Observaciones">
                        <ng-template ngbPanelContent>
                            {{referer.information}}
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
            <div *ngIf="referer.step == 1" state="1">
                <div><span><a>Pre-evaluación</a></span></div>
                <div>
                    <button class="btn btn-primary m-2 mx-3" (click)="actualizarEstadoVenta(referer, 2)">Aprobar Pre-Evaluacion</button>
                    <button class="btn btn-secondary m-2 mx-3" (click)="actualizarEstadoVenta(referer, -2)">Rechazar Pre-Evaluacion</button>
                </div>
            </div>
            <div *ngIf="referer.step == 2" state="2">
                <div><span><a>Factibilidad Instalación/Entrega</a></span></div>
                <div>
                    <button class="btn btn-primary m-2 mx-3" (click)="actualizarEstadoVenta(referer, 3)">Aprobar Factibilidad</button>
                    <button class="btn btn-secondary m-2 mx-3" (click)="actualizarEstadoVenta(referer, -3)">Falló Instalación/Entrega</button>
                </div>
            </div>
            <div *ngIf="referer.step == 3">
                <div><span><a>Venta Finalizada | A Pago</a></span></div>
                <div>
                    <button class="btn btn-primary m-2 mx-3" (click)="actualizarEstadoVenta(referer, 4)">Aprobar Pago</button>
                    <button class="btn btn-secondary m-2 mx-3" (click)="actualizarEstadoVenta(referer, -4)">Venta Rechazada</button>
                </div>
            </div>
        </div>
    </div>
</div>
