<app-breadcrumb [title]="'Mis Pedidos'" [items]="['Mis Pedidos']" [active_item]="'Pedidos'"></app-breadcrumb>
<div class="product-grid">
    <div class="feature-products">
        <div class="row">
            <div class="col-md-6 products-total">
                <div class="square-product-setting d-inline-block" (click)="toggleListView(false)">
                  <a class="icon-grid grid-layout-view" href="javascript:void(0);">
                    <i data-feather="grid"></i>
                  </a>
                </div>
                <div class="square-product-setting d-inline-block" (click)="toggleListView(true)">
                  <a class="icon-grid m-0 list-layout-view" href="javascript:void(0);">
                    <i data-feather="list"></i>
                  </a>
                </div>
                <div class="grid-options d-inline-block">
                  <ul>
                    <li (click)="gridColumn(6)"><a class="product-2-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-1 bg-primary"></span><span class="line-grid line-grid-2 bg-primary"></span></a></li>
                    <li (click)="gridColumn(4)"><a class="product-3-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-3 bg-primary"></span><span class="line-grid line-grid-4 bg-primary"></span><span class="line-grid line-grid-5 bg-primary"></span></a></li>
                    <li (click)="gridColumn(3)"><a class="product-4-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-6 bg-primary"></span><span class="line-grid line-grid-7 bg-primary"></span><span class="line-grid line-grid-8 bg-primary"></span><span class="line-grid line-grid-9 bg-primary"></span></a></li>
                    <li (click)="gridColumn(2)"><a class="product-6-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-10 bg-primary"></span><span class="line-grid line-grid-11 bg-primary"></span><span class="line-grid line-grid-12 bg-primary"></span><span class="line-grid line-grid-13 bg-primary"></span><span class="line-grid line-grid-14 bg-primary"></span><span class="line-grid line-grid-15 bg-primary"></span></a></li>
                  </ul>
                </div>
            </div>
            <div class="col-md-6 text-right p-15" *ngIf="this.canWrite()">
                <button class="btn btn-primary" type="button" (click)="QuickViewOrdersAdd.openModal(this.user)">Agregar Pedido</button>
            </div>
        </div>
    </div>
</div>
<div class="product-wrapper-grid" [class.list-view]="listView">
    <div class="row">
        <div [class]="'col-xl-'+col+' col-sm-'+col" [class.col-xl-12]="listView" *ngFor="let order of orders">
            <div class="card">
              <div class="product-box">
                <div class="product-img"><img class="img-fluid" src="{{order.photo}}" alt="">
                  <div class="product-hover">
                    <ul>
                      <li>
                        <!--<button class="btn" type="button" (click)="QuickViewOrdersEdit.openModal(this.order, this.user.companies)"><i class="fa fa-edit"></i></button>-->
                        <button class="btn" type="button"><i class="fa fa-edit"></i></button>
                      </li>
                      <li>
                        <button class="btn" type="button" data-toggle="modal" data-target="#exampleModalCenter22" (click)="QuickViewOrdersView.openModal(this.order)"><i class="icon-eye"></i></button>
                      </li>
                      <li>
                        <button class="btn" type="button" (click)="removeWithConfirmation(order.id)"><i class="fa fa-trash-o"></i></button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-details">
                  <h4>{{order.productName}}</h4>
                  <p>{{order.productBrand}}</p>
                  <p>{{order.idOrder}}</p>
                  <p>{{this.formatRut(order.company)}}</p>
                  <div class="product-price">${{order.limitPrice}}
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<app-orders-add #quickViewOrdersAdd></app-orders-add>
<app-orders-view #quickViewOrdersView></app-orders-view>
<app-orders-edit #quickViewOrdersEdit></app-orders-edit>