<app-breadcrumb [title]="'Mis Pedidos'" [items]="['Mis Pedidos']" [active_item]="'Pedidos'"></app-breadcrumb>
<div class="flex flex-col flex-auto" *ngIf="loading">
  <h6 class="text-center">Procesando...</h6>
  <div class="loader-box">
    <div class="loader-3"></div>
  </div>
</div>
<div class="product-grid" *ngIf="!loading">
    <div class="card" *ngIf="!filterHidden">
      <div class="card-body">
          <form [formGroup]="filterForm" class="needs-validation">
              <div class="form-row">
                  <div class="col-md-6 mb-3">
                      <div class="form-group">
                          <label>Estado</label>
                          <select formControlName="status" class="form-control btn-pill">
                              <option class="mat-select-placeholder" value="">Todos los Estados</option>
                              <option value="0">Pendiente</option>
                              <option value="1">Publicado</option>
                              <option value="2">En caja</option>
                              <!--<option value="3">Pagado</option>-->
                          </select>
                      </div>
                  </div>
                  <div class="col-md-6 mb-3">
                      <div class="form-group">
                          <label>Periodo</label>
                          <select formControlName="date" class="form-control btn-pill">
                              <option class="flex-grow-1" *ngFor="let period of this.periods" value="{{period}}" >{{period}}</option>
                          </select>
                      </div>
                  </div>
              </div>
          </form>
          <div class="col">
              <button class="btn btn-pill btn-primary" type="button" (click)="changeFilter()" >Buscar</button>
          </div>
      </div>
    </div>
    <div class="col-md-4 mb-3" *ngIf="listView">
      <button class="btn btn-pill btn-info" (click)="this.showFilter()" type="button" >{{this.filterButton}}</button>
    </div>
    <div class="feature-products">
        <div class="row">
            <div class="col-md-6 products-total">
                <div class="square-product-setting d-inline-block" (click)="toggleListView(false)">
                  <a class="icon-grid grid-layout-view" href="javascript:void(0);">
                    <i data-feather="grid"></i>
                  </a>
                </div>
                <div class="square-product-setting d-inline-block" (click)="toggleListView(true)">
                  <a class="icon-grid m-0 list-layout-view" href="javascript:void(0);">
                    <i data-feather="list"></i>
                  </a>
                </div>
                <div class="grid-options d-inline-block">
                  <ul>
                    <li (click)="gridColumn(6)"><a class="product-2-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-1 bg-primary"></span><span class="line-grid line-grid-2 bg-primary"></span></a></li>
                    <li (click)="gridColumn(4)"><a class="product-3-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-3 bg-primary"></span><span class="line-grid line-grid-4 bg-primary"></span><span class="line-grid line-grid-5 bg-primary"></span></a></li>
                    <li (click)="gridColumn(3)"><a class="product-4-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-6 bg-primary"></span><span class="line-grid line-grid-7 bg-primary"></span><span class="line-grid line-grid-8 bg-primary"></span><span class="line-grid line-grid-9 bg-primary"></span></a></li>
                    <li (click)="gridColumn(2)"><a class="product-6-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-10 bg-primary"></span><span class="line-grid line-grid-11 bg-primary"></span><span class="line-grid line-grid-12 bg-primary"></span><span class="line-grid line-grid-13 bg-primary"></span><span class="line-grid line-grid-14 bg-primary"></span><span class="line-grid line-grid-15 bg-primary"></span></a></li>
                  </ul>
                </div>
            </div>
            <div class="col-md-6 text-right p-15" *ngIf="this.canWrite()">
                <button class="btn btn-pill btn-primary" type="button" (click)="add()">Agregar Pedido</button>
            </div>
        </div>
    </div>
</div>
<div class="product-wrapper-grid" [class.list-view]="listView">
    <div class="row">
        <div [class]="'col-xl-'+col+' col-sm-'+col" [class.col-xl-12]="listView" *ngFor="let order of orders">
            <div class="card">
              <div class="product-box">
                <div class="product-img">
                  <div *ngIf="order.status == 0" class="ribbon ribbon-info">Pendiente</div>
                  <div *ngIf="order.status == 1" class="ribbon ribbon-primary">Publicado</div>
                  <div *ngIf="order.status == 2" class="ribbon ribbon-success">En caja</div>
                  <div *ngIf="order.status == 3" class="ribbon ribbon-success">Pagado</div>
                  <img class="img-fluid" src="{{this.srv.apiUrl + '/files/' + order.photo}}" alt="">
                  <div class="product-hover">
                    <ul>
                      <li *ngIf="order.status === 0">
                        <button class="btn" type="button"><i class="fa fa-edit" (click)="edit(order.id)"></i></button>
                      </li>
                      <li>
                        <button class="btn" type="button" data-toggle="modal" data-target="#exampleModalCenter22" (click)="this.orderView(order.id)"><i class="icon-eye"></i></button>
                      </li>
                      <li *ngIf="order.status === 0 || order.status === 1">
                        <button class="btn" type="button" (click)="removeWithConfirmation(order.id)"><i class="fa fa-trash-o"></i></button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-details">
                  <h4>{{order.brand}} {{order.model}} {{order.year}}</h4>
                  <p>{{order.chassis}}</p>
                  <p>{{order.idOrder}}</p>
                  <!--<div class="product-price">repuestos: {{order.products.length}}</div>-->
                </div>
              </div>
            </div>
        </div>
    </div>
    <ngb-pagination 
      *ngIf="!listView"
      class="d-flex justify-content-center mb-3" 
      [collectionSize]="totalElements" 
      [pageSize]="50"
      [boundaryLinks]="true"
      [(page)]="currentPage"
      [maxSize]="5" 
      [rotate]="true" 
      (pageChange)="onPageFired($event)"
      aria-label="Default pagination">
    </ngb-pagination>
    <ngb-pagination 
      *ngIf="listView"
      class="d-flex justify-content-center mb-3" 
      [collectionSize]="totalElements" 
      [pageSize]="50"
      [boundaryLinks]="true"
      [(page)]="currentPage"
      [maxSize]="3" 
      [rotate]="true" 
      (pageChange)="onPageFired($event)"
      aria-label="Default pagination">
    </ngb-pagination>
</div>

<app-orders-view #quickViewOrdersView></app-orders-view>