<app-breadcrumb [title]="'Editar Usuario'"></app-breadcrumb>
<div class="flex flex-col flex-auto" *ngIf="loading">
    <h6 class="text-center">Procesando...</h6>
    <div class="loader-box">
      <div class="loader-3"></div>
    </div>
</div>
<div class="container-fluid" *ngIf="!loading">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form class="needs-validation" novalidate [formGroup]="formEdit">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>Nombre</label>
                                <input class="form-control btn-pill" required="true" type="text" placeholder="(*) Nombre" formControlName="name">
                                <div *ngIf="formEdit.controls.name.errors && formEdit.controls.name.touched && formEdit.controls.name.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formEdit.controls.name.touched && formEdit.controls.name.errors?.minlength"
                                    class="text text-danger mt-1">
                                    Debe tener minimo de 3 caracteres
                                </div>
                                <div *ngIf="formEdit.controls.name.touched && formEdit.controls.name.errors?.maxlength"
                                    class="text text-danger mt-1">
                                    Debe tener un maximo de 40 caracteres
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Apellido Paterno</label>
                                <input class="form-control btn-pill" required="true" type="text" placeholder="(*) Apellido Paterno" formControlName="lastName">
                                <div *ngIf="formEdit.controls.lastName.errors && formEdit.controls.lastName.touched && formEdit.controls.lastName.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formEdit.controls.lastName.touched && formEdit.controls.lastName.errors?.minlength"
                                    class="text text-danger mt-1">
                                    Debe tener minimo de 3 caracteres
                                </div>
                                <div *ngIf="formEdit.controls.lastName.touched && formEdit.controls.lastName.errors?.maxlength"
                                    class="text text-danger mt-1">
                                    Debe tener un maximo de 40 caracteres
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Apellido Materno</label>
                                <input class="form-control btn-pill" required="true" type="text" placeholder="(*) Apellido Materno" formControlName="secondLastName">
                                <div *ngIf="formEdit.controls.secondLastName.errors && formEdit.controls.secondLastName.touched && formEdit.controls.secondLastName.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formEdit.controls.secondLastName.touched && formEdit.controls.secondLastName.errors?.minlength"
                                    class="text text-danger mt-1">
                                    Debe tener minimo de 3 caracteres
                                </div>
                                <div *ngIf="formEdit.controls.secondLastName.touched && formEdit.controls.secondLastName.errors?.maxlength"
                                    class="text text-danger mt-1">
                                    Debe tener un maximo de 40 caracteres
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label>Rut</label>
                                <input class="form-control" required="true" type="text" placeholder="(*) Rut" formControlName="rut" (blur)="onBlurRut()" (focus)="onFocusRut()">
                                <div *ngIf="formEdit.controls.rut.errors && formEdit.controls.rut.touched && formEdit.controls.rut.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formEdit.controls.rut.errors && formEdit.controls.rut.touched && formEdit.controls.rut.errors?.rut"
                                    class="text text-danger mt-1">
                                    Formato invalido
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Email</label>
                                <input class="form-control" required="true" type="text" placeholder="(*) Email" formControlName="email" required email>
                                <div *ngIf="formEdit.controls.email.errors && formEdit.controls.email.touched && formEdit.controls.email.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formEdit.controls.email.errors && formEdit.controls.email.touched && formEdit.controls.email.errors?.email"
                                    class="text text-danger mt-1">
                                    Formato invalido
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Celular</label>
                                <input class="form-control" required="true" type="text" placeholder="(*) Celular" formControlName="phone">
                                <div *ngIf="formEdit.controls.phone.errors && formEdit.controls.phone.touched && formEdit.controls.phone.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formEdit.controls.phone.errors && formEdit.controls.phone.touched && formEdit.controls.phone.errors?.invalidMobileNumber"
                                    class="text text-danger mt-1">
                                    Formato invalido, ejemplo: 912341234
                                </div>
                                <div *ngIf="formEdit.controls.phone.errors && formEdit.controls.phone.touched && formEdit.controls.phone.errors?.invalidNumber"
                                    class="text text-danger mt-1">
                                    Solo se admiten números
                                </div>
                            </div>
                        </div>-->
                        <div class="form-row">
                            <!--<div class="col-md-6 mb-3">
                                <label>País</label>
                                <ng-select [items]="countriesFilter" placeholder="Seleccionar País"
                                    class="js-example-placeholder-multiple" formControlName="nationality">
                                </ng-select>
                            </div>-->
                            <div class="col-md-4 mb-3">
                                <label>Email</label>
                                <input class="form-control btn-pill" required="true" type="text" placeholder="(*) Email" formControlName="email" required email>
                                <div *ngIf="formEdit.controls.email.errors && formEdit.controls.email.touched && formEdit.controls.email.errors.required"
                                    class="text text-danger mt-1">
                                    Es requerido
                                </div>
                                <div *ngIf="formEdit.controls.email.errors && formEdit.controls.email.touched && formEdit.controls.email.errors?.email"
                                    class="text text-danger mt-1">
                                    Formato invalido
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Perfil</label>
                                <ng-select 
                                    [items]="rolesFilter" 
                                    placeholder="(*) Seleccionar Perfil"
                                    class="js-example-placeholder-multiple btn-pill" 
                                    formControlName="role">
                                </ng-select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>Estado</label>
                                <ng-select 
                                    [items]="statusFilter" 
                                    placeholder="(*) Seleccionar Estado"
                                    class="js-example-placeholder-multiple btn-pill" 
                                    formControlName="status">
                                </ng-select>
                            </div>
                        </div>
                        <div class="flex align-middle font-medium text-md mt-1 mb-3">
                            <i class="flex align-middle" data-feather="info"></i>
                            <span class="font-semibold ml-1 text-base">Los campos marcados con (*) son de caracter obligatorio.</span>
                          </div>
                          <div class="card-footer">
                            <button class="btn btn-info btn-pill m-r-15 mb-3" type="button" (click)="goBack()">Volver</button>
                            <button class="btn btn-success btn-pill mb-3" type="button" [disabled]="formEdit.invalid" (click)="add()">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div *ngFor="let company of companies">
                <div class="card">
                    <div class="card-header py-4">
                        <h5>Datos de {{company.name}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <form class="theme-form mega-form">
                                    <p *ngIf="company.type === 'taller'" class="mb-0">Tipo facturación: {{company.billingType}}</p>
                                    <p class="mb-0">Rut: {{formatRut(company.rut)}}</p>
                                    <p class="mb-0">Dirección: {{company.direction}}</p>
                                    <p class="mb-0">Teléfono: {{company.phone}}</p>
                                    <p class="mb-0">Banco: {{company.bank}}</p>
                                    <p class="mb-0">Número de cuenta banco: {{company.accountNumber}}</p>
                                    <p class="mb-0">Tipo de cuenta banco: {{company.accountType}}</p>
                                    <div>
                                        <p *ngIf="company.status === -1">Estado: <button class="btn btn-pill btn-danger btn-xs">Eliminado</button></p>
                                        <p *ngIf="company.status === 0">Estado: <button class="btn btn-pill btn-primary btn-xs">Pendiente Activación</button></p>
                                        <p *ngIf="company.status === 1">Estado: <button class="btn btn-pill btn-success btn-xs">Activado</button></p>
                                    </div>
                                    <p class="mb-0">Región: {{company.region}}</p>
                                    <p class="mb-3">Comuna: {{company.commune}}</p>
                                    <h6 *ngIf="company.type === 'comercio'" class="f-w-600">Marcas que vende</h6>
                                    <div *ngFor="let make of company.make">
                                        <p>{{make}}</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>